.App {
  text-align: center;
}

.chat {
  display: flex;
  background-color:antiquewhite;
  max-width: 800px;
  padding: 20px;
  margin: 20px;
  border: brown 1px solid;
  gap: 10px;
}

.chat__list {
  min-width: 360px;
}

.chat__listItem {
  margin-top: 10px;
}

.form {
  align-self: flex-end;
}



